.foot{
    width: 100%;
    position: relative;
    height: 675px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s;
}

.foot.light-mode{
    background-image: url("../assets/beach-waves.gif");

    .contact, .navTitle{
        color: #000;
    }
}
    
.foot.dark-mode{
    background-image: url("../assets/beach-waves-night.gif");

    .contact, .navTitle{
        color: #ffffff99;
    }

}

    .contact{
        text-align: center;
    }

        .navList {
        list-style-type: none;
        display: flex;
        justify-content: center;
        }

                .navLink {
                    display: flex;
                    text-decoration: none;
                    flex-direction: column;
                    align-items: center;
                }

                    .navIcon {
                    object-fit: contain;
                    }

                    .navTitle{
                        font-family: Arial;
                        font-weight: bold;
                    }

                    
/*--------------------------------------------------------------------------------------------------*/

@media (min-width:375px) {
    .foot{
        max-width: 375px ;
        height: 130px;
    }
    .contact{
        font-size: 22px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .navbar{
        margin-top: 16px;
        }
    
            .navList {
            padding: 0;
            margin: 0;
            }

                        .navIcon {
                        width: 24px;
                        height: 24px;
                        margin: 0 16px 0 16px ;
                        }
                        .navIcon:hover{
                            background-color: #fff;
                            box-shadow: 0 0 20px #000000;
                            transform: translateY(-10%);
                        }
    
                        .navTitle {
                        font-size: 8px;
                        margin-top: 8px;
                        }
}

@media (min-width:768px) {
    .foot{
        max-width: 768px ;
        height: 270px;
    }

    .contact{
        font-size: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .navbar{
        margin-top: 50px;
        }
    
            .navList {
            padding: 0;
            margin: 0;
            }

                        .navIcon {
                        width: 50px;
                        height: 50px;
                        margin: 0 24px 0 24px ;
                        border-radius: 10px;
                        }
                        .navIcon:hover{
                            box-shadow: 0 0 20px #000000;
                            transform: translateY(-10%);
                        }
    
                        .navTitle {
                        font-size: 16px;
                        margin-top: 10px;
                        }
}

@media (min-width:1280px) {
    .foot{
        max-width: 1280px ;
        height: 450px;
    }

    .contact{
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .navbar{
        margin-top: 100px;
        }
    
            .navList {
            padding: 0;
            margin: 0;
            }

                        .navIcon {
                        width: 80px;
                        height: 80px;
                        margin: 0 64px 0 64px;
                        border-radius: 17px;
                        }
                        .navIcon:hover{
                            box-shadow: 0 0 20px #000000;
                            transform: translateY(-10%);
                        }
    
                        .navTitle {
                        font-size: 32px;
                        margin-top: 10px;
                        }
}

@media (min-width:1920px) {
    .foot{
        max-width: 1920px ;
        height: 675px;
    }

    .contact{
        font-size: 64px;
    }
        .navIcon {
            margin: 0 80px 0 80px;
            border-radius: 30px;
        }
        .navIcon:hover{
            box-shadow: 0 0 20px #000000;
            transform: translateY(-10%);
        }


}