.App {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: fit-content;
  align-items: center;
  background-color: black;
}



@media (min-width:375px) {
  .App {
    max-width: 375px;
  }
}

@media (min-width:768px) {
  .App {
    max-width: 768px;
  }
}

@media (min-width:1280px) {
  .App {
    max-width: 1280px;
  }
}

@media (min-width:1920px) {
  .App {
    max-width: 1920px;
  }
}